; Preview toolbar
ITLB_00 RCDATA imgprevw/TLBR_00.PNG
ITLB_01 RCDATA imgprevw/TLBR_01.PNG
ITLB_02 RCDATA imgprevw/TLBR_02.PNG
ITLB_03 RCDATA imgprevw/TLBR_03.PNG
ITLB_04 RCDATA imgprevw/TLBR_04.PNG
ITLB_05 RCDATA imgprevw/TLBR_05.PNG