; Property icons

; Item type icons
PROP_00 RCDATA propview/PROP00.PNG
PROP_01 RCDATA propview/PROP01.PNG
PROP_02 RCDATA propview/PROP02.PNG
PROP_03 RCDATA propview/PROP03.PNG
PROP_04 RCDATA propview/PROP04.PNG
PROP_05 RCDATA propview/PROP05.PNG
PROP_06 RCDATA propview/PROP06.PNG
PROP_07 RCDATA propview/PROP07.PNG

; Properties toolbar
PTLB_00 RCDATA propview/TLBR_00.PNG
PTLB_01 RCDATA propview/TLBR_01.PNG
PTLB_02 RCDATA propview/TLBR_02.PNG
PTLB_03 RCDATA propview/TLBR_03.PNG
PTLB_04 RCDATA propview/TLBR_04.PNG
PTLB_05 RCDATA propview/TLBR_05.PNG
PTLB_06 RCDATA propview/TLBR_06.PNG
PTLB_07 RCDATA propview/TLBR_07.PNG
PTLB_08 RCDATA propview/TLBR_08.PNG
