; Property icons

; Toolbars
RTLB_00 RCDATA rescview/TLBR_00.PNG
RTLB_01 RCDATA rescview/TLBR_01.PNG
RTLB_02 RCDATA rescview/TLBR_02.PNG
RTLB_03 RCDATA rescview/TLBR_03.PNG
RTLB_04 RCDATA rescview/TLBR_04.PNG
RTLB_05 RCDATA rescview/TLBR_05.PNG
RTLB_06 RCDATA rescview/TLBR_06.PNG
RTLB_07 RCDATA rescview/TLBR_07.PNG
