; Text Editor icons

; Toolbars
TTLB_00 RCDATA textedit/TLBR_00.PNG
TTLB_01 RCDATA textedit/TLBR_01.PNG
TTLB_02 RCDATA textedit/TLBR_02.PNG
TTLB_03 RCDATA textedit/TLBR_03.PNG
TTLB_04 RCDATA textedit/TLBR_04.PNG
TTLB_05 RCDATA textedit/TLBR_05.PNG
TTLB_06 RCDATA textedit/TLBR_06.PNG
TTLB_07 RCDATA textedit/TLBR_07.PNG
TTLB_08 RCDATA textedit/TLBR_08.PNG
TTLB_09 RCDATA textedit/TLBR_09.PNG
TTLB_10 RCDATA textedit/TLBR_10.PNG
TTLB_11 RCDATA textedit/TLBR_11.PNG